@use "../../../variables";

#download-page {
    width: 100%;
    justify-content: flex-start;
    flex-flow: column;
    margin-top: 32px;
    gap: 12px;

    .input-wrapper {
        position: relative;
        color: variables.$bg-color;

        #search-bar {
            width: max(256px, 32vw);
        }

        .icon-wrapper {
            position: absolute;
            right: 4px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            transition: background-color variables.$default-transition, scale variables.$default-transition;

            #search-icon {
                width: 26px;
                aspect-ratio: 1/1;
            }
        }

        &:has(#search-bar:not([value=""])) .icon-wrapper {
            &:hover {
                background: rgba(0, 0, 0, 0.1);
                scale: 1.05;
            }

            &:active {
                background: rgba(0, 0, 0, 0.175);
                scale: 1.1;
            }

            #search-icon {
                cursor: pointer;
            }
        }
    }

    #search-results {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 8px 0 22px 0;
        gap: 12px;

        .search-result {
            border: variables.$simple-border;
            width: max(320px, 30%);
            border-radius: 8px;
            position: relative;

            .thumbnail {
                width: 100%;
                aspect-ratio: 16/9;
                object-fit: contain;
                display: flex;
                align-items: center;
                background: black;
                border-radius: 8px 8px 0 0;
            }

            .details {
                display: grid;
                grid-template-columns: 40% 60%;

                .channel-info, .video-info {
                    overflow: hidden;
                    flex-flow: column;
                    padding: 8px;
                }

                .channel-info {
                    align-items: center;
                    justify-content: center;

                    .channel-thumbnail {
                        width: 56px;
                        height: 56px;
                        border-radius: 6px;
                    }
                }

                .video-info {
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    border-left: variables.$simple-border;
                }

                .label {
                    max-width: 100%;
                    font-size: 16px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    &.title {
                        font-size: 18px;
                        font-weight: bold;
                        white-space: normal;
                    }

                    &.views, &.release-date, &.length {
                        font-size: 14px;
                        color: variables.$mono-2;
                    }
                }
            }

            .download-button {
                position: absolute;
                right: 0px;
                top: 0px;
                width: 40px;
                border-radius: 0 8px 0 10px;
                height: 40px;
                background: variables.$mono-1;
                opacity: 0;
                transition: opacity variables.$default-transition;

                #download-icon {
                    padding: 3px;
                    color: variables.$bg-color;
                }
            }

            &:hover .download-button {
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    #download-wizard-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.5);

        #download-wizard {
            position: absolute;
            left: 50%;
            top: 50%;
            translate: -50% -50%;
            width: 480px;
            border-radius: 12px;
            background: variables.$secondary-bg;
            padding: 12px 26px 22px 26px;
            display: flex;
            flex-flow: column;
            justify-content: center;

            .thumbnail-wrapper {
                align-self: center;
                position: relative;

                .thumbnail {
                    border-radius: 4px;
                    max-height: 270px;
                    object-fit: contain;
                    cursor: pointer;
                }

                .remove-thumbnail-button {
                    opacity: 0;
                    pointer-events: none;
                    position: absolute;
                    color: variables.$red;
                    top: 1px;
                    right: 1px;
                    width: 28px;
                    height: 28px;
                    z-index: 3;
                    background: rgba(0, 0, 0, 0.4);

                    &:hover {
                        background: rgba(0, 0, 0, 0.5);
                    }

                    &:active {
                        background: rgba(0, 0, 0, 0.55);
                    }

                    >svg {
                        padding: 1px;
                    }
                }

                .crop-wrapper {
                    position: absolute;
                    inset: 0;
                    pointer-events: none;

                    .crop-cover {
                        position: absolute;
                        inset: 0;
                        background-color: rgba(0, 0, 0, 0.8);
                        clip-rule: evenodd;
                        clip-path: polygon( // Outer rect
                                0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%,
                                // Inner rect
                                var(--crop-left, 0%) var(--crop-top, 0%),
                                var(--crop-left, 0%) calc(100% - var(--crop-bottom, 0%)),
                                calc(100% - var(--crop-right, 0%)) calc(100% - var(--crop-bottom, 0%)),
                                calc(100% - var(--crop-right, 0%)) var(--crop-top, 0%),
                                var(--crop-left, 0%) var(--crop-top, 0%));
                        pointer-events: none;
                    }

                    .crop-corner {
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        pointer-events: all;
                        $thickness: 2px;
                        filter: drop-shadow(0 0 1px black) drop-shadow(0 0 2px black);

                        &.bottom {
                            bottom: var(--crop-bottom, 0);
                        }

                        &.top {
                            top: var(--crop-top, 0);
                        }

                        &.left {
                            left: var(--crop-left, 0);
                        }

                        &.right {
                            right: var(--crop-right, 0);
                        }

                        &.bottom.right {
                            transform: rotate(-90deg);
                            cursor: nwse-resize;
                        }

                        &.bottom.left {
                            // no need for rotate, this is default
                            cursor: nesw-resize;
                        }

                        &.top.right {
                            transform: rotate(180deg);
                            cursor: nesw-resize;
                        }

                        &.top.left {
                            transform: rotate(90deg);
                            cursor: nwse-resize;
                        }

                        &::after {
                            content: "";
                            background: white;
                            position: absolute;
                            inset: 0;
                            // default is bottom left
                            // create L shape for corner
                            clip-path: polygon(0 0, // top left
                                    0 100%, // bottom left
                                    100% 100%, // bottom right
                                    100% calc(100% - $thickness), // inner bottom right
                                    $thickness calc(100% - $thickness), // inner bottom left
                                    $thickness 0, // inner top left
                                    0 0 // top left
                                );
                        }
                    }
                }

                &:hover .remove-thumbnail-button {
                    pointer-events: all;
                    opacity: 1;
                }
            }

            h3 {
                text-align: center;
                margin-bottom: 0;
            }

            >*:not(label):not(:last-child) {
                margin-bottom: 8px;
            }

            label {
                margin-top: 2px;
            }

            .cancel-button {
                color: variables.$mono-1;
                position: absolute;
                top: 4px;
                right: 4px;
            }

            .download-button {
                position: relative;
                align-self: center;
                background: variables.$blue;
                color: variables.$bg-color;
                min-width: 122px;
                height: 42px;
                font-size: 18px;
                font-weight: 550;
                margin-top: 14px;

                .download-success-icon {
                    width: 48px;
                    height: 48px;
                }
            }

            .validation {
                color: variables.$red;
                font-size: 12px;
            }

            #filepath-input-wrapper {
                display: flex;
                flex-flow: column;
                position: relative;
                justify-content: center;

                #filepath-input {
                    padding-right: 72px;
                    width: auto;
                }

                #extension {
                    position: absolute;
                    right: 32px;
                    color: variables.$bg-color;
                }

                #select-file-icon {
                    position: absolute;
                    width: 26px;
                    height: 26px;
                    right: 4px;
                    cursor: pointer;
                    color: variables.$mono-1;
                }
            }

            #progress {
                display: grid;
                grid-template-columns: 4fr 3fr;
                margin-top: 6px;
                gap: 14px;
                font-size: 18px;

                .row {
                    display: contents;

                    .progress-checkmark, .progress-cancel, .progress-spinner {
                        width: 24px;
                        height: 24px;
                    }

                    .progress-checkmark {
                        color: variables.$green;
                    }

                    .progress-cancel {
                        color: variables.$red;
                    }

                    .progress-spinner {
                        color: variables.$mono-1;
                    }

                    .error {
                        color: variables.$red;
                        max-height: 110px;
                    }
                }
            }
        }
    }
}