@import '../../variables';



#content {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    header {
        width: 100%;
        height: 64px;
        border-bottom: $simple-border;
    }

    #main-tabs {
        justify-content: space-evenly;

        >span {
            border-radius: 6px;
            color: $mono-1;
            font-size: 18px;

            svg {
                width: 36px;
                height: 36px;
            }
        }

        .tab-link {
            display: flex;
            transition: background-color 0.2s ease;
            cursor: pointer;
            padding: 12px 26px;

            &.icon {
                padding: 8px;
                border-radius: inherit;
            }

            &:hover {
                background: $secondary-bg;
            }
        }

        a.tab-link {
            color: $mono-1;
        }
    }

    #tab-wrapper {
        height: 100%;
        align-items: normal;
        overflow-y: auto;

        margin-left: $sidebar-width;

        >*:not([tab-active]) {
            display: none;
        }
    }
}