@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $mono-1;
    background: $bg-color;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;

    &:focus-visible {
        outline: none;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
