$bg-color: rgb(33, 40, 54);
$secondary-bg: rgb(28, 33, 46);
$mono-1: hsl(221, 31%, 84%);
$mono-2: hsl(215, 28%, 59%);
$mono-3: hsl(216, 25%, 42%);
$cyan: #4ff2f8;
$blue: #82aaff;
$purple: #c792ea;
$green: #6af699;
$red: #ff5874;
$orange: #ffbf7a;
$yellow: #fffa9e;
$simple-border: 1px solid $mono-3;
$sidebar-width: 15%;
